html, 
body {
    margin: 0;
    padding: 0;
    /* display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "main"
        "foot"; */
}

/* header */
header {
    grid-area: head;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.25em;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.icon {
    width: 23px;
}

h1 {
    font-size: 0.875em;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    list-style: none;
    font-size: 0.75em;
    font-weight: 600;
}

/* main */

/* .journal-section {
    position: relative;
}

.bg-image {
    height: clamp(300px, 50vh, 600px);
}

.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transform: scaleX(-1);
}

.hero-post {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    object-fit: cover;
    color: #FFFFFF;
    padding: 6.250em 1em 1em;
} */
main {
    grid-area: main;
}

.journal-section {
    background-image: url('../images/hero-post-bg.png');
    background-size: cover;
    background-position: bottom;
    color: #FFFFFF;
}

.hero-post {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 6.250em 1em 1em;
}

.hero-post h1, 
.hero-post p,
.blog h1,
.blog p
{
    margin: 0;
}

.hero-post h1 {
    font-size: 2em;
    line-height: 1;
}

.source-sans-pro {
    font-family: "Source Sans 3", sans-serif;
}

.date {
    font-size: 0.75em;
}

/* Blogs Section */

.blogs-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    gap: 2.5rem;
}

.blog img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.blog h1 {
    font-size: 1.5em;
}

.view-more {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

/* footer */
footer {
    grid-area: foot;
    padding: 1em 1.25em;
}