html, 
body {
    margin: 0;
    padding: 0;
    /* display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "main"
        "foot"; */
}

/* header */
header {
    grid-area: head;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.25em;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.logo {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 3px;
}

.icon {
    width: 23px;
}

h1 {
    font-size: 0.875em;
}

header ul {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    list-style: none;
    font-size: 0.75em;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: inherit;
}

.fa-bars, .fa-xmark {
    pointer-events: none;
}

#xmark {
    font-size: 1.25em;
}

/* main */

/* .journal-section {
    position: relative;
}

.bg-image {
    height: clamp(300px, 50vh, 600px);
}

.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transform: scaleX(-1);
}

.hero-post {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    object-fit: cover;
    color: #FFFFFF;
    padding: 6.250em 1em 1em;
} */
main {
    grid-area: main;
    padding-bottom: 1em;
}

.journal-section {
    min-height: 293px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0 1em 1em;
    /* background-image: url('../images/hero-post-bg.png'); */
    background-image: url('../images/laptop-dark.jpg');
    background-size: cover;
    background-position: bottom;
    transform: scaleX(-1);
    color: #FFFFFF;
}

.hero-post {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transform: scaleX(-1);
    /* padding: 6.250em 1em 1em; */
}

.hero-post h1, 
.hero-post p,
.blog h1,
.blog p
{
    margin: 0;
}

.blog p {
    color: #505050;
}

.hero-post h1 {
    font-size: 2em;
    line-height: 1;
}

.source-sans-pro {
    font-family: "Source Sans 3", sans-serif;
}

.date {
    font-size: 0.75em;
    text-transform: uppercase;
}

/* Blogs Section */

.blogs-section h2 {
    font-size: 1em;
    text-align: center;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    gap: 2.5rem;
}

.blog * {
    pointer-events: none;
}

.blog {
    cursor: pointer;
}

.blog img, .hero-post-img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.blog h1 {
    font-size: 1.5em;
}

.view-more {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

.view-more:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* footer */
footer {
    font-size: 0.75em;
    grid-area: foot;
    padding: 2.5rem 1.25rem;
    background-color: #202020;
    text-align: center;
    color: #ECECEC;
}

footer p:first-child {
    font-weight: 700;
}

footer * {
    margin: 0;
}

@media (max-width: 500px) {
    #nav-links {
        height: 100%;
        width: 0;
        top: 0;
        right: 0;
        z-index: 1;
        position: fixed;
        padding: 0;
        background: #ffffff;
        box-shadow: -5px 0 25px #202020;
        transition: 0.5s;
    }

    header ul {
        padding: 2em;
        flex-direction: column;
    }
}

@media (min-width: 501px) {
    #xmark, #hamburger {
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.25em;
    }

    nav {
        padding: 1em 3.25em;
    }

    .journal-section {
        height: 488px;
        background-position: 100% 75%;
    }

    .blogs-section h2 {
        font-size: 1.5em;
    }

    .hero-post {
        padding: 0 2rem 2rem;
        justify-content: flex-end;
    }

    .hero-post p {
        max-width: 600px;
    }

    .blogs {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 3.25em;
        gap: 2.5rem;
    }
}